@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 10pt;
  color: #222222;
  font-family: 'Gothic A1', sans-serif;
}
